<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tsumiki.remote</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>/Users/ko_dai/制作物/tsumiki-remote/server.js</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>LANG</key>
    <string>ja_JP.UTF-8</string>
    <key>LC_CTYPE</key>
    <string>ja_JP.UTF-8</string>
    <key>TSUMIKI_REMOTE_HOST</key>
    <string>127.0.0.1</string>
    <key>TSUMIKI_REMOTE_PORT</key>
    <string>8787</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/ko_dai/.tsumiki-remote/server.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ko_dai/.tsumiki-remote/server.log</string>
</dict>
</plist>
